[submodule "MirrasENGINE/3rdParty/spdlog"]
	path = MirrasENGINE/3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v2.x
[submodule "MirrasENGINE/3rdParty/GLFW"]
	path = MirrasENGINE/3rdParty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "MirrasENGINE/3rdParty/ImGui"]
	path = MirrasENGINE/3rdParty/ImGui
	url = https://github.com/MirrasHue/ImGui.git
	branch = docking
[submodule "MirrasENGINE/3rdParty/GLM"]
	path = MirrasENGINE/3rdParty/GLM
	url = https://github.com/g-truc/glm.git
